################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio workspace folder
.vs/

# Ignore build output and intermediate folders
bin/
obj/
**/bin/
**/obj/

# Keep repository-local DB under data/ tracked by repo - do not ignore
# (intentionally left blank)

